alias hfs="heroku local:start -f Procfile.local"
#alias tmux="direnv exec / tmux"
alias pg.start="pg_ctl -D /usr/local/var/postgres start"
alias pg.stop="pg_ctl -D /usr/local/var/postgres stop"
alias kovan="parity --chain kovan --rpcapi all"
alias parityall="parity --jsonrpc-apis all --tx-queue-size 64000"
alias bitcoin="curl rate.sx"

function kp {
  sudo kill -15 `ps -ef | grep $1 | grep -v grep | awk '{print $2}'`;
}

function weather {
  curl wttr.in/"$1"
}

function logbook() {
  code ~/Dropbox/Logbook/$(date '+%Y-%m-%d').md
}

