.DS_Store
*.swp
*.sw?
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.ec2
bin/*
.bundle/
vendor/ruby/*
vendor/postgresql
vendor/redis
vendor/mongodb
.envrc
.env
Procfile.local
.foreman
.vagrant
.ruby-version
tags
